
/*--Whole document--*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{

    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    font-family: 'Roboto', sans-serif !important;
}

nav{
    height: 80px  !important;
    display: flex !important;


}

.nav__container{

    display: flex !important;
    width: 100% !important;
    justify-content: space-between !important;
    max-width: 1200px !important;
    margin: 0 auto !important;
    align-items: center;
    padding: 0 24px  !important;


}
ul{

    display: flex !important;

}

li{

    list-style-type: none !important;
}

.logo{

    width: 200px !important;
    
}

.nav__link{

    margin-left: 16px !important;
    text-decoration: none !important;
    font-size: 20px !important;
    color: purple !important;
}




